@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
}
.bg-image-container {
  background-image: url("./assets/4.png");
  background-size: cover; /* Ajustar la imagen al contenedor */
  background-position: center; /* Centrar la imagen */
  background-repeat: no-repeat; /* Evitar que la imagen se repita */
}
.bg-image-text {
  background-image: url("./assets/Banners-Visionemos-Sabaneta.png");
  background-size: cover; /* Ajustar la imagen al contenedor */
  background-position: center; /* Centrar la imagen */
  background-repeat: no-repeat; /* Evitar que la imagen se repita */
}
.bg-image-greenBlack {
  position: relative; /* Asegurarse de que la posición esté definida para los elementos secundarios */
  background-image: url("./assets/1.png");
  background-size: cover; /* Ajustar la imagen al contenedor */
  background-position: center; /* Centrar la imagen */
  background-repeat: no-repeat; /* Evitar que la imagen se repita */
}

/* Agrega estilos personalizados para el scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.titleTeam {
  background: linear-gradient( 180deg,rgba(74,108,247,0.4) 0%,rgba(74,108,247,0) 100% );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  opacity: .2;
  position: absolute;
  left: 50%;
  top: 0;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  font-size: 40px;
  font-weight: 800;
  line-height: 1!important
}
.active {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
}
.svg-icon {
  width: 1.5em;
  height: 1.5em;
  margin-right:0.5rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #006944;
}

.svg-icon circle {
  stroke: #006944;
  stroke-width: 1;
}
